@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400');

// Fonts
$font--primary: 'Quicksand', sans-serif;

// Colours
$blue1: #dfdaff;
$brown1: #6b5344;
$red1: #e76868;
$cream1: #f8ecc9;

// Selectors
body {
  background-color: $blue1;
  font-family: $font--primary;
}
